<div class="mining">
  <div class="content">
    <div class="title">Mines</div>
    <div class="mine-list">
      <div *ngFor="let mine of mines" class="mine">
        <div class="image-container"><img [src]="mine.url" /></div>
        <div class="info">
          <span class="name">{{ mine.name }}</span>
          <div class="action" [ngSwitch]="mine.status.state">
            <div *ngSwitchCase="mineState.None">
              <div class="action disabled" disabled>Unavailable</div>
            </div>
            <div *ngSwitchCase="mineState.Locked">
              <div class="action disabled" disabled=>Unavailable</div>
            </div>
            <div *ngSwitchCase="mineState.Available">
              <div class="action green" (click)="purchaseMine(mine)">{{ mine.price }} Upgrade</div>
            </div>
            <div *ngSwitchCase="mineState.Owned">
              <div class="action yellow" (click)="startMining(mine)">Start farming</div>
            </div>
            <div *ngSwitchCase="mineState.Mining">
              <div *ngIf="mine.status.time">
                <div disabled class="action-button timer locked-button">
                  {{ mine.coinsCountPerTimeSpan }} farming {{ mine.status.timeString || ''}}
                </div>
              </div>
              <div *ngIf="!mine.status.time">
                <div class="action yellow" (click)="getReward(mine)">Get {{mine.coinsCountPerTimeSpan}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
