<div class="mining">
  <div class="content">
    <div class="title">Mines</div>
    <div class="mine-list">
      <div *ngFor="let mine of mines" class="mine">
        <div class="image-container"><img src="images/mining1.png" /></div>
        <div class="info">
          <span class="name">{{ mine.name }}</span>
          <div class="action" [ngSwitch]="mine.status.state">
            <div *ngSwitchCase="mineState.None">
              <button class="locked-button" disabled>Недоступно</button>
            </div>
            <div *ngSwitchCase="mineState.Locked">
              <button class="action-button locked-button" disabled=>Недоступно</button>
            </div>
            <div *ngSwitchCase="mineState.Available">
              <button class="action-button purchase-button" (click)="purchaseMine(mine)">Купить за {{ mine.price }}</button>
            </div>
            <div *ngSwitchCase="mineState.Owned">
              <button class="action-button active-button" (click)="startMining(mine)">Запускай</button>
            </div>
            <div *ngSwitchCase="mineState.Mining">
              <div *ngIf="mine.status.time">
                <button disabled class="action-button timer locked-button">
                  Получить {{ mine.reward }} через {{ mine.status.timeString}}
                </button>
              </div>
              <div *ngIf="!mine.status.time">
                <button class="action-button active-button" (click)="getReward(mine)">Забрать {{mine.reward}}</button>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
