.mining {
  width: 90%;
  padding: 20px;
  font-size: 22px;

  .title {
    color: #fff;
    text-shadow: -2px -2px 0 #000, /* Обводка сверху слева */ 2px -2px 0 #000,
      /* Обводка сверху справа */ -2px 2px 0 #000,
      /* Обводка снизу слева */ 2px 2px 0 #000,
      /* Обводка снизу справа */ 0px 0px 4px rgba(0, 0, 0, 0.5); /* Легкая тень для объема */
    background-color: #f2a14a;
    padding: 10px 0;
    box-shadow: 0 10px 0 0 #c2813b;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .content {
    width: 100%;
    background-color: #fde29c;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .mine {
    height: 100px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    padding-right: 10px;

    .image-container {
      width: 50%;
      position: relative;

      img {
        height: 130px;
        filter: drop-shadow(0 1px 3px rgba(255, 238, 0, 0.384));
        position: absolute;
        right: 10px;
        top: -20px;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      position: relative;
      justify-content: center;

      color: #fff;
      text-shadow: -2px -2px 0 #000, /* Обводка сверху слева */ 2px -2px 0 #000,
        /* Обводка сверху справа */ -2px 2px 0 #000,
        /* Обводка снизу слева */ 2px 2px 0 #000,
        /* Обводка снизу справа */ 0px 0px 4px rgba(0, 0, 0, 0.5); /* Легкая тень для объема */

      .name {
        align-self: center;
        color: #d48747;
        font-weight: bold;
        font-size: 22px;
        text-shadow: none;
        position: absolute;
        top: -28px;
      }

      .action {
        %action-buttons {
          appearance: none;
          background-color: #7ed70d;
          border-radius: 40em;
          border-style: none;
          box-shadow: #4f8508 0 -12px 6px inset;
          box-sizing: border-box;
          color: #000000;
          cursor: pointer;
          display: inline-block;
          font-family: -apple-system, sans-serif;
          font-size: 1.2rem;
          font-weight: 700;
          letter-spacing: -0.24px;
          margin: 0;
          outline: none;
          padding: 1rem 1.3rem;
          quotes: auto;
          text-align: center;
          text-decoration: none;
          transition: all 0.15s;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
          font-size: small;

          @media (min-width: 768px) {
            button {
              font-size: 1.5rem;
              padding: 0.75rem 2rem;
            }
          }
        }

        %active-buttons:hover {
          background-color: #ffc229;
          box-shadow: #ff6314 0 -6px 8px inset;
          transform: scale(1.125);
        }

        %active-buttons:active {
          transform: scale(1.025);
        }

        .active-button {
          @extend %action-buttons, %active-buttons;
        }

        .purchase-button {
          @extend %action-buttons, %active-buttons;
        }

        .locked-button {
          @extend %action-buttons;

          background-color: #a8a6a2;
          box-shadow: #868581 0 -12px 6px inset;
        }
      }
    }
  }
}

.action {
  width: 150px;
  height: 80px;
  border-radius: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action.green {
  background-color: #7ed70d;
  vertical-align: middle;
  text-shadow: -2px -2px 0 #000, /* Обводка сверху слева */ 1px -1px 0 #508f00,
    /* Обводка сверху справа */ -1px 1px 0 #508f00,
    /* Обводка снизу слева */ 1px 1px 0 #508f00,
    /* Обводка снизу справа */ 0px 0px 4px rgba(0, 0, 0, 0.5); /* Легкая тень для объема */
}

.action.yellow {
  background-color: #fcb500;
  vertical-align: middle;
  text-shadow: -2px -2px 0 #000, /* Обводка сверху слева */ 1px -1px 0 #bd6821,
    /* Обводка сверху справа */ -1px 1px 0 #bd6821,
    /* Обводка снизу слева */ 1px 1px 0 #bd6821,
    /* Обводка снизу справа */ 0px 0px 4px rgba(0, 0, 0, 0.5); /* Легкая тень для объема */
}

.action.disabled {
  background-color: #a8a6a2;
  color: #6c6565;
  text-shadow: none;
}
