
  <div class="menu home-menu" routerLink="/clicker" routerLinkActive="active">
    <div class="icon"></div>
    <div class="text">Home</div>
  </div>

  <div class="menu store-menu" routerLink="/shop" routerLinkActive="active">
    <div class="icon"></div>
    <div class="text">Store</div>
  </div>

  <div class="menu mine-menu" routerLink="/mining" routerLinkActive="active">
    <div class="icon"></div>
    <div class="text">Mine</div>
  </div>

  <div class="menu rating-menu" routerLink="/lead" routerLinkActive="active">
    <div class="icon"></div>
    <div class="text">Rating</div>
  </div>