.menu {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.icon {
  width: 40px;
  height: 40px;
}

.home-menu .icon {
  background-image: url("/images/home.png");
}

.home-menu.active .icon {
  background-image: url("/images/home_active.png");
}

.store-menu .icon {
  background-image: url("/images/store.png");
}

.store-menu.active .icon {
  background-image: url("/images/store_active.png");
}

.mine-menu .icon {
  background-image: url("/images/mine.png");
}

.mine-menu.active .icon {
  background-image: url("/images/mine_active.png");
}

.rating-menu .icon {
  background-image: url("/images/rating.png");
}

.rating-menu.active .icon {
  background-image: url("/images/rating_active.png");
}

.text {
  color: rgba(87, 88, 76, 0.6);
  font-size: 16px;
}

.active .text {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
}
