
  <button mat-fab extended outlined routerLink="/clicker" routerLinkActive="active">
    <div>
      <mat-icon>home</mat-icon>
    </div>
    <div>Home</div>
  </button>
  <button mat-fab extended outlined routerLink="/shop" routerLinkActive="active">
    <div>
      <mat-icon>store</mat-icon>
    </div>
    <div>Shop</div>
  </button>
  <button mat-fab extended outlined routerLink="/mining" routerLinkActive="active">
    <div>
      <mat-icon>diamond</mat-icon>
    </div>
    <div>Mining</div>
  </button>
  <button mat-fab extended routerLink="/lead" routerLinkActive="active">
    <div>
      <mat-icon>leaderboard</mat-icon>
    </div>
    <div>Leaders</div>
  </button>

