<div class="leaderboard">
  <div class="content">
    <div class="title">Leaderboard</div>
    <div class="search-container">
      <input type="text" />
      <img src="images/search-icon.png" alt="search" class="search-icon" />
    </div>

    <div class="table">
      <div *ngFor="let leader of leaders; let i = index" class="leader-item">
        <div class="rank-icon">
          <span class="rank-text">{{ i + 1 }}</span>
        </div>
        <img [src]="leader.avatar" alt="avatar" class="avatar" />
        <div class="name">{{ leader.name }}</div>
        <div class="trophies">
          <img src="images/trophy.svg" alt="trophy" />
          <span>{{ leader.trophies }}</span>
        </div>
      </div>
    </div>
    <div class="highlight">
      <div class="leader-item">
        <div class="rank-highlight-icon">
          <span class="rank-highlight-text">999</span>
        </div>
        <img [src]="leaders[6].avatar" alt="avatar" class="avatar" />
        <div class="name">{{ leaders[6].name }}</div>
        <div class="trophies">
          <img src="images/trophy.svg" alt="trophy" />
          <span>{{ leaders[6].trophies }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
