<div class="store">
  <div class="content">
    <div class="title">Store</div>
    <div class="arrow-left" (click)="clickLeft()">
      <img src="images/arrow-left.png" />
    </div>
    <div class="arrow-right" (click)="clickRight()">
      <img src="images/arrow-right.png" />
    </div>
    <div class="store-item">
      <div class="item-title">{{ selectedSkin?.name }}</div>
      <div class="item-image"><img src="{{ selectedSkin?.url }}" /></div>
      <div class="item-price">
        <img src="images/coin.svg" alt="Diamonds" class="icon" />
        {{ selectedSkin?.price }}
      </div>
      <div class="item-actions">
        <div
          class="action buy"
          [ngClass]="{ disabled: selectedSkin?.isPurchased }"
          (click)="clickBuy(selectedSkin?.id!)"
        >
          Buy
        </div>
        <div
          class="action apply"
          [ngClass]="{ disabled: selectedSkin?.isApplied }"
          (click)="clickApply(selectedSkin?.id!)"
        >
          Apply
        </div>
      </div>
    </div>
  </div>
</div>
